#section0 {
  background-image: url("../image/photo-1.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  image: url("../image/FkGeWyBjnHriOr-W7yxG9aqqq5t0.png");
  image-display:none;
  image-height:50%;
}