<!DOCTYPE html>
<html lang="zh-cmn-Hans" xmlns:th="http://www.thymeleaf.org">
<head>
  <script src="webjars/jquery/3.4.0/jquery.min.js"></script>
  <script src="webjars/bootstrap/4.3.1/js/bootstrap.min.js"></script>

  <link rel="stylesheet" href="webjars/bootstrap/4.3.1/css/bootstrap.min.css" />
  <link rel="stylesheet" href="/static/css/fullpage.min.css" />
  <link rel="stylesheet" href="/static/css/index.css" />
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>宝利盈房地产咨询顾问</title>
  
  <style type="text/css">
    .div-inline{display:inline;}
  </style>
  
</head>
<body>
  <!-- headerbar -->
  <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
    <a class="navbar-brand mb-0 h1"><strong>购房热线 400-1234-567</strong></a>
    <div class="navbar-nav flex-row ml-md-auto d-none d-md-flex">
      <div class="navbar-nav">
        <a class="nav-item nav-link active" href="#">首页 <span class="sr-only">(current)</span></a>
        <a class="nav-item nav-link" href="#">户型详介</a>
        <a class="nav-item nav-link" href="#">实景照片</a>
        <a class="nav-item nav-link" href="#">视频讲解</a>
        <a class="nav-item nav-link" href="#">华银城</a>
        <a class="nav-item nav-link" href="#">热销靓盘</a>
        <a class="nav-item nav-link" href="#">关于我们</a>
        <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">已有<span id="reservenum">9999</span>人预约看房</a>
      </div>
    </div>
  </nav>

  <div id="fullpage">
    <div class="section active container-fluid" id="section0">
      <div class="text-center"><img class="center" src="/static/image/FkGeWyBjnHriOr-W7yxG9aqqq5t0.png"></img></div>
      <div style="padding-top:30px;padding-bottom:20px;">
        
        <form>
        <ul class="text-center">
          <li style="list-style-type:none;padding-bottom:10px;"><input type="text;" placeholder="姓名" style="height:40px; border-radius:6px; padding-left:8px;" size="50"></li>
          <li style="list-style-type:none;padding-top:10px;"><input type="text;" placeholder="电话" style="height:40px; border-radius:6px; padding-left:8px;" size="50"></li>
          <li style="list-style-type:none;padding-top:20px;"><input type="button" value="预约看房，到访有礼" style="background:none; height:50px;border-radius:18px; border:2px solid #ffffff;font-size:26px; color:white;padding-left:10px;padding-right:10px;"></li>
        </ul>
        </form>
        
      </div>
    </div>
    <div class="section" id="section1">
      <div>
        <p style="text-align:center;font-size:48px;"><strong>楼盘优势</strong></p>
        <p style="text-align:center;font-size:20px;">优势汇集打造未来生态宜居家园</p>
        <div class="text-center">
          <table width="60%" style="text-align:center; margin:0 auto; font-size:12px;">
            <tr>
              <td width="25%"><img class="center" src="/static/image/2-1.png"></img></td>
              <td width="25%"><img class="center" src="/static/image/2-2.png"></img></td>
              <td width="25%"><img class="center" src="/static/image/2-3.png"></img></td>
              <td width="25%"><img class="center" src="/static/image/2-4.png"></img></td>
            </tr>
            <tr>
              <td><p style="font-size:24px;"><trong>区位优势</trong></p></td>
              <td><p style="font-size:24px;"><trong>交通优势</trong></p></td>
              <td><p style="font-size:24px;"><trong>规模优势</trong></p></td>
              <td><p style="font-size:24px;"><trong>配套优势</trong></p></td>
            </tr>
            <tr>
              <td><p style="font-size:20px;">非首都功能疏解区</p></td>
              <td><p style="font-size:20px;">多维路网便捷生活</p></td>
              <td><p style="font-size:20px;">城镇级规划规模宏大</p></td>
              <td><p style="font-size:20px;">教育医疗商业生活配套齐全</p></td>
            </tr>
            <tr>
              <td style="padding-left:30px;padding-right:30px;"><p>京昆高速涞水新城出口，距北京50公里、距首都第二机场45公里</p></td>
              <td style="padding-left:30px;padding-right:30px;"><p>坐拥4条高速双城铁，向北直达北京、向南直连接雄安新、向东衔接首都第二机场</p></td>
              <td style="padding-left:30px;padding-right:30px;"><p>总规划用地175平方公里，总投资额超过1000亿，京津冀协同发展的重要组成部分</p></td>
              <td style="padding-left:30px;padding-right:30px;"><p>幼-小-中-高-职业培训-大学城，引进教育资源；城市核心起步区综合医院与大型医院联合开发为新城提供医疗保障服务</p></td>
            </tr>
          </table>
        </div>
      </div>
    </div>
    <div class="section" id="section2">
      <p style="text-align:center;font-size:48px; padding-top:50px;"><strong>热销户型</strong></p>
      <div class="text-left">
        <div class="slide active">
          <table style="margin:0 auto; font-size:12px;">
            <tr>
              <td height="80%"><img style="height:600px;" class="center" src="/static/image/3-a1-1.jpg"></img></td>
              <td>
                <ul style="font-size:20px;">
                  <li style="list-style-type:none; text-align:center; font-size:32px; padding-bottom:50px;"><strong>A1户型 三室两厅两卫</strong></li>
                  <li style="margin-left:30px;">开阔起居室附带观景阳台，阳光清风时时相伴</li>
                  <li style="margin-left:30px;">豪华主卧套房自带衣帽间、卫浴间、阳台、畅想浪漫生活</li>
                  <li style="margin-left:30px;">经典户型，格局方正，南北通透，三面观景</li>
                  <li style="margin-left:30px;">合理空间应用，超高性价比，超高得房率</li>
                </ul>
              </td>
            </tr>
          </table>
        </div>
        <div class="slide">
          <table style="margin:0 auto; font-size:12px;">
            <tr>
              <td height="80%"><img style="height:600px;" class="center" src="/static/image/3-b1-1.jpg"></img></td>
              <td>
                <ul style="font-size:20px;">
                  <li style="list-style-type:none; text-align:center; font-size:32px; padding-bottom:50px;"><strong>B1户型 三室两厅一卫</strong></li>
                  <li style="margin-left:30px;">客厅与餐厅无缝相连，宽阔空间、视野开阔</li>
                  <li style="margin-left:30px;">户型方正、布局紧凑、动静分离、舒适宜居</li>
                  <li style="margin-left:30px;">生活阳台大面宽景观享受，邂逅别样生活情调</li>
                  <li style="margin-left:30px;">科学规划空间、合理功能分区、超高性价比、超高得房率</li>
                </ul>
              </td>
            </tr>
          </table>        
        </div>
        <div class="slide">
          <table style="margin:0 auto; font-size:12px;">
            <tr>
              <td height="80%"><img style="height:600px;" class="center" src="/static/image/3-b2-1.jpg"></img></td>
              <td>
                <ul style="font-size:20px;">
                  <li style="list-style-type:none; text-align:center; font-size:32px; padding-bottom:50px;"><strong>B2户型 三室两厅一卫</strong></li>
                  <li style="margin-left:30px;">入户开阔视野，客厅、餐厅无缝连接</li>
                  <li style="margin-left:30px;">户型方正、南北通透、附带观景阳台，阳光尽晒</li>
                  <li style="margin-left:30px;">创意户型二、三居随意切换，自由定制客厅宽阔空间</li>
                  <li style="margin-left:30px;">科学规划空间，超高性价比，超高得房率</li>
                </ul>
              </td>
            </tr>
          </table>        
        </div>
        <div class="slide"><h1>And more text</h1></div>
      </div>
    </div>
    <div class="section" id="section3">
      <div style="background-color:#74cfe2;">
        <table style="margin:0 auto;">
          <tr>
            <td rowspan="3"><img style="height:600px;" src="/static/image/4-1.png"></img></td>
            <td height="30%" style="text-align:center; vertical-align:bottom;"><img src="/static/image/4-2.png"></img></td>
          </tr>
          <tr>
            <td height="30%"><img src="/static/image/4-3.png"></img></td>
          </tr>
          <tr>
            <td height="auto" style="vertical-align:top;"><img src="/static/image/4-4.png"></img></td>
          </tr>
        </table>
      </div>
    </div>
  </div>
  
  <script src="/static/js/fullpage.min.js"></script>
  <script src="/static/js/fullpage.extensions.min.js"></script>
  <script type="text/javascript" src="/static/js/index.js"></script>
</body>
</html>